<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bit</key>
	<string>NSData</string>
	<key>bool</key>
	<string>PGTSBool</string>
	<key>bytea</key>
	<string>NSData</string>
	<key>char</key>
	<string>NSString</string>
	<key>date</key>
	<string>NSCalendarDate</string>
	<key>float4</key>
	<string>PGTSFloat</string>
	<key>float8</key>
	<string>PGTSDouble</string>
	<key>int2</key>
	<string>NSNumber</string>
	<key>int4</key>
	<string>NSNumber</string>
	<key>int8</key>
	<string>NSNumber</string>
	<key>name</key>
	<string>NSString</string>
	<key>numeric</key>
	<string>NSDecimalNumber</string>
	<key>oid</key>
	<string>NSNumber</string>
	<key>point</key>
	<string>PGTSPoint</string>
	<key>text</key>
	<string>NSString</string>
	<key>timestamp</key>
	<string>NSDate</string>
	<key>timestamptz</key>
	<string>NSCalendarDate</string>
	<key>tinterval</key>
	<string>NSNumber</string>
	<key>varbit</key>
	<string>NSData</string>
	<key>varchar</key>
	<string>NSString</string>
    <key>bpchar</key>
    <string>NSString</string>
    <key>int2vector</key>
    <string>NSArray</string>
    <key>aclitem</key>
    <string>PGTSACLItem</string>
    <key>uuid</key>
    <string>NSString</string>
    
    <!-- Array types -->
    <key>_abstime</key>
    <string>NSArray</string>
    <key>_aclitem</key>    
    <string>NSArray</string>
    <key>_bit</key>
    <string>NSArray</string>
    <key>_bool</key>
    <string>NSArray</string>
    <key>_box</key>
    <string>NSArray</string>
    <key>_bpchar</key>
    <string>NSArray</string>
    <key>_bytea</key>
    <string>NSArray</string>
    <key>_char</key>
    <string>NSArray</string>
    <key>_cid</key>
    <string>NSArray</string>
    <key>_cidr</key>
    <string>NSArray</string>
    <key>_circle</key>
    <string>NSArray</string>
    <key>_date</key>
    <string>NSArray</string>
    <key>_float4</key>
    <string>NSArray</string>
    <key>_float8</key>
    <string>NSArray</string>
    <key>_inet</key>
    <string>NSArray</string>
    <key>_int2</key>
    <string>NSArray</string>
    <key>_int2vector</key>
    <string>NSArray</string>
    <key>_int4</key>
    <string>NSArray</string>
    <key>_int8</key>
    <string>NSArray</string>
    <key>_interval</key>
    <string>NSArray</string>
    <key>_line</key>
    <string>NSArray</string>
    <key>_lseg</key>
    <string>NSArray</string>
    <key>_macaddr</key>
    <string>NSArray</string>
    <key>_money</key>
    <string>NSArray</string>
    <key>_name</key>
    <string>NSArray</string>
    <key>_numeric</key>
    <string>NSArray</string>
    <key>_oid</key>
    <string>NSArray</string>
    <key>_oidvector</key>
    <string>NSArray</string>
    <key>_path</key>
    <string>NSArray</string>
    <key>_point</key>
    <string>NSArray</string>
    <key>_polygon</key>
    <string>NSArray</string>
    <key>_refcursor</key>
    <string>NSArray</string>
    <key>_regclass</key>
    <string>NSArray</string>
    <key>_regoper</key>
    <string>NSArray</string>
    <key>_regoperator</key>
    <string>NSArray</string>
    <key>_regproc</key>
    <string>NSArray</string>
    <key>_regprocedure</key>
    <string>NSArray</string>
    <key>_regtype</key>
    <string>NSArray</string>
    <key>_reltime</key>
    <string>NSArray</string>
    <key>_text</key>
    <string>NSArray</string>
    <key>_tid</key>
    <string>NSArray</string>
    <key>_time</key>
    <string>NSArray</string>
    <key>_timestamp</key>
    <string>NSArray</string>
    <key>_timestamptz</key>
    <string>NSArray</string>
    <key>_timetz</key>
    <string>NSArray</string>
    <key>_tinterval</key>
    <string>NSArray</string>
    <key>_varbit</key>
    <string>NSArray</string>
    <key>_varchar</key>
    <string>NSArray</string>
    <key>_xid</key>
    <string>NSArray</string>
</dict>
</plist>
