LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(SDKROOT_$(arch))/usr/lib
FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)
WARNING_CFLAGS = -Wall
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_C_LANGUAGE_STANDARD = c99
SDKROOT_ppc = /Developer/SDKs/MacOSX10.2.8.sdk
SDKROOT_i386 = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET_ppc = 10.2
MACOSX_DEPLOYMENT_TARGET_i386 = 10.4
GCC_VERSION_ppc = 3.3
GCC_VERSION_i386 = 4.0
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_OBJC_EXCEPTIONS = NO
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_OBJC_DISPATCH = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_MODEL_TUNING = G4
GCC_ONE_BYTE_BOOL = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_USE_GCC3_PFE_SUPPORT = YES
FRAMEWORK_SEARCH_PATHS = $(SDKROOT_$(arch))/System/Library/Frameworks $(BUILT_PRODUCTS_DIR)
LINK_WITH_STANDARD_LIBRARIES = YES
SKIP_INSTALL = YES
STRIP_STYLE = non-global
DEBUG_INFORMATION_FORMAT = dwarf
INFOPLIST_FILE = TSDataTypes-Info.plist
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
DSTROOT = /
INSTALL_PATH = 
PRODUCT_NAME = TSDataTypes
