SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET = 10.4
GCC_VERSION = 4.0
GCC_C_LANGUAGE_STANDARD = c99
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_OBJC_DISPATCH = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_MODEL_TUNING = G4
GCC_ONE_BYTE_BOOL = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(SRCROOT)/Dependencies/PGTS/Framework/build/$(BUILD_STYLE) $(SRCROOT)/Dependencies/PGTS/TigerFramework/build/$(BUILD_STYLE) $(SRCROOT)/Dependencies/MKCCollections/build/$(BUILD_STYLE) $(SRCROOT)/Dependencies/PGTS/Framework/Contrib/Log4Cocoa/build/$(BUILD_STYLE) .
LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(SRCROOT)/Dependencies/PGTS/Framework/build/$(BUILD_STYLE) $(SRCROOT)/Dependencies/PGTS/TigerFramework/build/$(BUILD_STYLE) $(SRCROOT)/Dependencies/MKCCollections/build/$(BUILD_STYLE) $(SDKROOT_$(arch))/usr/lib .
FRAMEWORK_SEARCH_PATHS = $(SDKROOT_$(arch))/System/Library/Frameworks $(BUILT_PRODUCTS_DIR)
LINK_WITH_STANDARD_LIBRARIES = YES
STRIP_STYLE = non-global
WARNING_CFLAGS = -Wall
DEBUG_INFORMATION_FORMAT = dwarf
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
INFOPLIST_FILE = Info.plist
GCC_PREFIX_HEADER = Sources/BaseTen_Prefix.pch
DSTROOT = /
PRODUCT_NAME = BaseTen
INFOPLIST_FILE = Info.plist
PREBINDING = NO
DEPLOYMENT_LOCATION = NO
