DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
FRAMEWORK_SEARCH_PATHS = $(SDKROOT)/System/Library/Frameworks $(BUILT_PRODUCTS_DIR) Contrib/RegexKit/build/$(BUILD_STYLE)
FRAMEWORK_VERSION = A
GCC_PREFIX_HEADER = Sources/BaseTen_Prefix.pch
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(BUILT_PRODUCTS_DIR)/BaseTen-PostgreSQL .
INFOPLIST_FILE = Resources/Info.plist
LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(BUILT_PRODUCTS_DIR)/BaseTen-PostgreSQL/universal/lib $(BUILT_PRODUCTS_DIR)/pcre-7.6/lib Contrib/RegexKit/build/$(BUILD_STYLE)/pcre-7.6/lib $(SDKROOT)/usr/lib .
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -ObjC -headerpad_max_install_names -lpq -lpcre
PRODUCT_NAME = BaseTen
WRAPPER_EXTENSION = framework
OTHER_CFLAGS = $(OTHER_CFLAGS) -DUSE_SSL -DXCODEBUILD_TARGET_NAME="$(TARGET_NAME)" -DXCODEBUILD_PROJECT_NAME="$(PROJECT_NAME)" -DXCODEBUILD_PROJECT_FILE_PATH="$(PROJECT_FILE_PATH)"
