SDKROOT_ppc = /Developer/SDKs/MacOSX10.4u.sdk
SDKROOT_i386 = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET_ppc = 10.4
MACOSX_DEPLOYMENT_TARGET_i386 = 10.4
GCC_VERSION_ppc = 4.0
GCC_VERSION_i386 = 4.0
GCC_C_LANGUAGE_STANDARD = c99
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_OBJC_EXCEPTIONS = NO
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_OBJC_DISPATCH = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_MODEL_TUNING = G4
GCC_ONE_BYTE_BOOL = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(BUILT_PRODUCTS_DIR)/PGTS-PostgreSQL $(SRCROOT)/../Dependencies/TSDataTypes/build/$(BUILD_STYLE) $(SRCROOT)/Contrib/Log4Cocoa/build/$(BUILD_STYLE) .
LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/PGTS-PostgreSQL/universal/lib $(BUILT_PRODUCTS_DIR) $(SRCROOT)/../Dependencies/TSDataTypes/build/$(BUILD_STYLE) $(SRCROOT)/Contrib/Log4Cocoa/build/$(BUILD_STYLE) $(SDKROOT_$(arch))/usr/lib
FRAMEWORK_SEARCH_PATHS = $(SDKROOT_$(arch))/System/Library/Frameworks $(BUILT_PRODUCTS_DIR)
LINK_WITH_STANDARD_LIBRARIES = YES
SKIP_INSTALL = YES
WARNING_CFLAGS = -Wall
DEBUG_INFORMATION_FORMAT = dwarf
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
PRODUCT_NAME = PGTS
INFOPLIST_FILE = Info.plist
GCC_PREFIX_HEADER = Sources/PGTS_Prefix.pch
DSTROOT = /
OTHER_CFLAGS = -DPGTS_SCHEMA_NAME=\"baseten\" -DUSE_SSL
