DEBUG_INFORMATION_FORMAT = dwarf
DEPLOYMENT_LOCATION = NO
DSTROOT = /
GCC_C_LANGUAGE_STANDARD = c99
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_OBJC_DISPATCH = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_MODEL_TUNING = G5
GCC_ONE_BYTE_BOOL = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
GCC_VERSION = 4.0
LINK_WITH_STANDARD_LIBRARIES = YES
PREBINDING = NO
SKIP_INSTALL = YES
WARNING_CFLAGS = -Wall
ZERO_LINK = NO
SDKROOT = $(DEVELOPER_SDK_DIR)/MacOSX10.5.sdk
