GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = YES
GCC_GENERATE_TEST_COVERAGE_FILES = YES

// XCConfig files do not allow to append values to settings defined in previously #included files, so
// in addition to the flags defined above you must append "-lgcov" to the OTHER_LDFLAGS value (Other Linker Flags) of your XCode target. 
