COPY_PHASE_STRIP = NO
DEBUG_BUILD = YES
DEPLOYMENT_POSTPROCESSING = NO
DSTROOT = /
GCC_DEBUGGING_SYMBOLS = full
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
INSTALL_PATH = 
LD_DYLIB_INSTALL_NAME = 
SEPARATE_STRIP = NO
SKIP_INSTALL = YES
STRIP_INSTALLED_PRODUCT = NO
ZERO_LINK = NO
