//ARCHS = ppc i386 ppc64 x86_64
//FIXME: doesn't work for iPhone
ARCHS = ppc i386
DEPLOYMENT_POSTPROCESSING = YES
GCC_DEBUGGING_SYMBOLS =
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = s
SEPARATE_STRIP = YES
SKIP_INSTALL = YES
STRIP_INSTALLED_PRODUCT = NO
STRIP_STYLE = non-global
